<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<title th:text="#{warehouserecords}">Warehouse Records</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container">

		<div th:insert="fragments/components :: header"></div>
		</br>
		
		</br>
		<div class="card">
			<div class="card-header">Błąd</div>
			<div class="card-body">
				<h5 class="card-title">
					<p>Brak strony lub wytąpił nioczekiwany błąd serwera.</p>
					<p>Proszę wrócić na poprzednią stronę</p>
					<br/>
					<a href="javascript:history.back()" class="btn btn-primary" th:text="#{previouspage}">Previous Page</a>
			</div>
		</div>
		</br>
		</br> 
		<div th:include="fragments/components :: footer"></div>
	</div>
</body>
</html>