<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<title th:text="#{warehouserecords}">Warehouse Records</title>
</head>
<body>
	<div class="container">

		<div th:insert="fragments/components :: header"></div>

		<div th:replace="fragments/components :: menu"></div>
		</br>
		</br>
		<div th:replace="fragments/components :: myNav"></div>
		</br>
		</br>
		<div class="card">
			<div class="card-header"></br></div>
			<div class="card-body">
				<h5 class="card-title">
					
			</div>
		</div>
		</br>
		</br> Stopka
		<div th:include="fragments/components :: footer"></div>
	</div>
</body>
</html>