<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<title th:text="#{warehouserecords}">Warehouse Records</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container">

		<div th:insert="fragments/components :: header"></div>
		</br>
		</br>
		<div class="card">
			<div class="card-header">Lorem ipsum</div>
			<div class="card-body">
				<h5 class="card-title">
					Aenean et libero pellentesque, condimentum elit quis, scelerisque elit. 
					Ut quis dolor orci. 
					Donec in mauris sed dolor imperdiet imperdiet. 
					Mauris porttitor leo eu hendrerit vestibulum. 
					Fusce volutpat pretium turpis non interdum. 
					Curabitur a enim vel arcu mattis volutpat. 
					Phasellus sit amet justo iaculis, pharetra leo nec, vestibulum eros. 
					Sed nec ornare massa. 
					Aenean vitae volutpat eros, quis sodales sem. 
					Duis porta, neque ut rutrum consectetur, velit diam gravida orci, vel dapibus mi justo in magna. 
					Curabitur a est nec dolor venenatis vehicula nec quis orci. 
					In felis mi, convallis id ante nec, dictum tempus massa. 
					Fusce elementum ex libero, in varius elit ultricies ac. 
					Phasellus elementum consectetur purus, eget dapibus quam molestie at. 
					Duis dui lectus, varius et metus sed, volutpat placerat diam. 
					Aliquam accumsan lobortis eros, at varius sem convallis eget.
					</br>
					</br>
					Aliquam libero diam, gravida semper pretium eu, convallis et ex. 
					Proin et consectetur erat. Morbi quis posuere elit. 
					Mauris quis urna non lorem ultrices tempor a non libero. 
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Phasellus id velit vitae lorem imperdiet iaculis in id eros. 
					Cras lectus nibh, tempus quis pharetra non, dapibus nec erat.
					</br>
					</br>
					Aliquam aliquet lacinia hendrerit. Mauris sodales ex nec turpis sodales pellentesque. 
					Quisque eu metus lacinia, porta ligula sed, condimentum felis. 
					Donec in elit porttitor, placerat libero quis, fermentum sem. 
					Donec quis ornare neque. 
					Sed tincidunt, libero dapibus accumsan laoreet, mi ante eleifend lorem, 
					quis pellentesque est tellus sed lorem. Aliquam velit libero, interdum vel diam vel, 
					pharetra porta sapien. Duis sed odio diam.
				</h5>
			</div>
		</div>
		</br>
		<div th:include="fragments/components :: footer"></div>
	</div>
	<script>
	</script>
</body>
</html>