<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<link rel="stylesheet" href="/css/table-scrollable-body.css" />
<title th:text="#{warehouserecords}">Warehouse Records</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container">

		<div th:insert="fragments/components :: header"></div>
		</br>
		</br>
		<div class="card">
			<div class="card-header" th:text="#{settings}">Settings</div>
			<div class="card-body">
				<nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" th:text="#{profile}">Profile</button>
            <button sec:authorize="hasRole('ADMIN')" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" th:text="#{profiles}">Profiles</button>
            <button sec:authorize="hasRole('ADMIN')" class="nav-link" id="nav-register-tab" data-bs-toggle="tab" data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register" aria-selected="false" th:text="#{registerUser}">Register User</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <img id="avatar" src="/users/currentUser/avatar" class="rounded mx-auto d-block" style="margin: 10px; height: 200px; width: 200px;">
            <form class="row g-3" onsubmit="updateUser(event, this)" id="update_user">
              <div class="col-md-6">
                <label for="updateName" class="form-label" th:text="#{name}">Name</label>
                <input type="text" class="form-control" id="updateName" name="name">
              </div>
              <div class="col-md-6">
                <label for="updateLastName" class="form-label" th:text="#{lastName}">Last Name</label>
                <input type="text" class="form-control" id="updateLastName" name="lastName">
              </div>
              <div class="col-md-12">
                <label for="updateEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="updateEmail" disabled>
              </div>
              <div class="col-md-6">
                <label for="updateUsername" class="form-label" th:text="#{userName}">User Name</label>
                <input type="text" class="form-control" id="updateUsername" disabled>
              </div>
              <div class="col-md-6">
                <label for="updatePassword" class="form-label" th:text="#{password}">Password</label>
                <input type="password" class="form-control" id="updatePassword" disabled>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label" th:text="#{avatar}">Avatar</label>
                <input class="form-control" type="file" id="formFile" name="avatar">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form id="findUsersFrom" class="row g-3" onsubmit="findUsers(event)">
              <div class="col-md-3">
                <label for="inputUsername" class="form-label" th:text="#{userName}">Username</label>
                <input type="text" class="form-control" id="inputUsername" th:placeholder="#{userName}" name="username">
              </div>
              <div class="col-md-3">
                <label for="inputCode" class="form-label" th:text="#{name}">Name</label>
                <input type="text" class="form-control" id="inputName" th:placeholder="#{name}" name="name">
              </div>
              <div class="col-md-4">
                <label for="inputLastName" class="form-label" th:text="#{lastName}">LastName</label>
                <input type="text" class="form-control" id="inputName" th:placeholder="#{lastName}" name="lastName">
              </div>
              <div class="col-md-5">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
              </div>
              <div class="col-12">
                <label for="selectRoles" class="form-label" th:text="#{roles}">Roles</label>
                <select class="form-control" id="selectRoles" name="roles" multiple></select>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" style="width: 100%;" th:text="#{search}">Search</button>
              </div>
            </form>
            <table class="table table-striped table-fixed" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th scope="col" th:text="#{userName}">User Name</th>
                  <th scope="col" th:text="#{name}">Name</th>
                  <th scope="col" th:text="#{lastName}">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col" th:text="#{roles}">Roles</th>
                </tr>
              </thead>
              <tbody class="custom-scrollbar" id="rowsUsers">
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <th scope="row"></br></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
              </tbody>
            </table>
          </div>
          <div sec:authorize="hasRole('ADMIN')" class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
            <form class="row g-3" method="POST" action="/users" onsubmit="registerUser(event, this)" id="register_user">
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label" th:text="#{name}">Name</label>
                <input type="text" class="form-control" id="inputName" name="name" required>
              </div>
              <div class="col-md-6">
                <label for="inputLastName" class="form-label" th:text="#{lastName}">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" name="lastName" required>
              </div>
              <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" required>
              </div>
              <div class="col-md-6">
                <label for="inputLogin" class="form-label" th:text="#{userName}">User Name</label>
                <input type="text" class="form-control" id="inputLogin" name="userName" required>
              </div>
              <div class="col-md-6">
                <label for="inputPassword4" class="form-label" th:text="#{password}">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" required>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label" th:text="#{avatar}">Avatar</label>
                <input class="form-control" type="file" id="formFileNew" name="avatar">
              </div>
              <div class="col-md-12">
                <label for="inputRoles" class="form-label">Roles</label>
                <select id="formRoles" class="form-select" multiple aria-label="multiple select example" name="roles" required></select>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" th:text="#{save}">Save</button>
              </div>
              <div class="col-12">
                <div id="addedSuccess" class="alert alert-success" role="alert" th:text="#{userAdded}" hidden>
                  User added successfully.
                </div>
                <div id="addedNotSuccess" class="alert alert-danger" role="alert" th:text="#{userNotAdded}" hidden>
                  The user was not added successfully.
                </div>
              </div>
            </form>
          </div>
        </div>
			</div>
		</div>
		</br>
		<div th:include="fragments/components :: footer"></div>
	</div>
	<script>
        fetch("/roles").then(processOkResponse)
        .then(roles => {
          var roles = roles.map(role => {
                return `<option value=${role.id}>${role.name}</option>
            `}).join('\n');

          document.getElementById('formRoles').innerHTML = roles;
          document.getElementById('selectRoles').innerHTML = roles;
        });

        fetch("/users/currentUser").then(processOkResponse)
        .then(user => {
          document.getElementById('updateName').placeholder=user.name;
          document.getElementById('updateLastName').placeholder=user.lastName;
          document.getElementById('updateEmail').placeholder=user.email;
          document.getElementById('updateUsername').placeholder=user.username;
        });

        fetch("/users").then(processOkResponse)
        .then(users => {
          document.getElementById("rowsUsers").innerHTML = users.map(user => {
            return `<tr>
                            <th scope="row">${user.username}</th>
                            <td>${user.name}</td>
                            <td>${user.lastName}</td>
                            <td>${user.email}</td>
                            <td>${user.roles.map(role => {return role.name}).join(', ')}</td>
                          </tr>`;
          }).join('\n');
        });

        function findUsers(event){
          event.preventDefault();
          console.log($("#findUsersFrom").serialize());

          fetch("/users?"+$("#findUsersFrom").serialize()).then(processOkResponse)
        .then(users => {
          document.getElementById("rowsUsers").innerHTML = users.map(user => {
            return `<tr>
                            <th scope="row">${user.username}</th>
                            <td>${user.name}</td>
                            <td>${user.lastName}</td>
                            <td>${user.email}</td>
                            <td>${user.roles.map(role => {return role.name}).join(', ')}</td>
                          </tr>`;
          }).join('\n');
        });
        }

        function registerUser(event){
            event.preventDefault();

            const XHR = new XMLHttpRequest();
            var dataToSend = $("#register_user").serialize();

            var token = $("meta[name='_csrf']").attr("content"); 
            var header = $("meta[name='_csrf_header']").attr("content");

		        XHR.open( 'POST', `/users`);
  		      XHR.setRequestHeader( header, token );
            XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
  		      XHR.send(dataToSend);
                
            XHR.onreadystatechange = function() {
              if(XHR.response!==null&&XHR.response!=""&&!isNaN(parseInt(XHR.response))){
                document.getElementById('addedSuccess').removeAttribute('hidden');
                document.getElementById('addedNotSuccess').setAttribute('hidden', '');
              }else{
                document.getElementById('addedSuccess').setAttribute('hidden', '');
                document.getElementById('addedNotSuccess').removeAttribute('hidden');
              }

              var file = document.getElementById('formFileNew').files[0];

              if(file!=null&&XHR.response!=null&&XHR.response!=""){
                let formData = new FormData();
                formData.set('file', file, file.name);

                console.log(XHR.response);

                const XHR2 = new XMLHttpRequest();
                XHR2.open( 'POST', `/users/`+XHR.response+"/avatar");
  		          XHR2.setRequestHeader( header, token );
  		          XHR2.send(formData);
              }

            }
        }

        function updateUser(event, form){
            event.preventDefault();

            const XHR = new XMLHttpRequest();
            var dataToSend = $("#update_user").serialize();

            var token = $("meta[name='_csrf']").attr("content"); 
            var header = $("meta[name='_csrf_header']").attr("content");

		        XHR.open( 'PATCH', `/users/currentUser`);
  		      XHR.setRequestHeader( header, token );
            XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
  		      XHR.send(dataToSend);
                
            var file = document.getElementById('formFile').files[0];

            if(file!=null){
              let formData = new FormData();
                formData.set('file', file, file.name);

                const XHR2 = new XMLHttpRequest();
                XHR2.open( 'POST', `/users/currentUser/avatar`);
  		          XHR2.setRequestHeader( header, token );
  		          XHR2.send(formData);

                const avatarReader = new FileReader();

                avatarReader.addEventListener("load", (fr) => {
                  document.getElementById("avatar").setAttribute('src', fr.srcElement.result);
                }, false);

                avatarReader.readAsDataURL(file);
            }
        }

        function processOkResponse(response = {}) {
          if (response.ok) {
            return response.json();
          }
          throw new Error(`Status not 200 (${response.status})`);
        }
	</script>
</body>
</html>